@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);


/* ################################################################
Header  
################################################################### */ 

.logo img {
    max-height: 46px;
}
.logo {
    position: relative;
    top: -15px;
}
.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #F4F4F4 !important;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.dropdown-menu {
    background: #ffffff;
}
.nav li {
    text-transform: uppercase;
}
/* ################################################################
Global
################################################################### */ 
h2 {
  background-color: #FFFF00;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 40px;
  margin-bottom: 25px;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.mt {
  margin-top: 15px;
}
.bmt {
  margin-top: 30px;
}
.mb {
  margin-bottom: 15px;
}
.sml {
  margin-left: 5px;
}
.smr {
  margin-right: 5px;
}
.mr {
  margin-right: 15px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a { 
    color: #428bca;
    padding: 0;
    margin: 0;
    text-decoration: none; 
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}
.btn-theme {
  background-color: #ffffff;
  border-color: #000000;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.logo img:hover {
  opacity:0.5;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
#nymphe {
  background-image: url("/assets/images/nymphe.jpg");
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  -webkit-filter: grayscale(50%);
    filter: gray;
    margin-top: 30px;
    padding-top: 100px;
}
#nymphe h1 {
  color: white; 
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
}
/* ################################################################
Sticky 
################################################################### */ 
#sticky {
  background-color: #FFFF00;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* ################################################################
Footer 
################################################################### */ 
.footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #F4F4F4 !important;
}


