@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

@font-face {
    font-family: handwriting;
    src: url('../fonts/xtreem.ttf');
}
.hand {
  font-family: handwriting; 
  font-size: 80px;
}
/* ################################################################
Header  
################################################################### */ 

.logo img {
    max-height: 46px;
    max-width: 200px;
}
.logo {
    position: relative;
    top: -15px;
}
.logo2 {
  width: 150px;
}
.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #F4F4F4 !important;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.dropdown-menu {
    background: #ffffff;
}
.nav li {
    text-transform: uppercase;
}
/* ################################################################
Global
################################################################### */ 
h2 {
  background-color: #FFFF00;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 40px;
  margin-bottom: 25px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  float: right;
}
.mt {
  margin-top: 15px;
}
.smb {
  margin-bottom: 5px;
}
.bmt {
  margin-top: 30px;
}
.bmb {
  margin-bottom: 30px;
}
.header-marg {
  margin-top: 70px;
}
.mb {
  margin-bottom: 15px;
}
.sml {
  margin-left: 5px;
}
.smr {
  margin-right: 5px;
}
.mr {
  margin-right: 15px;
}
.pt {
  padding-top: 15px;
}
.pb {
  padding-bottom: 15px;
}
.bpb {
  padding-bottom: 45px;
}
.bpt {
  padding-top: 45px;
}
.lg {
  font-size: 1.3em;
}
.nomt {
  margin-top: 0px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a { 
    color: #428bca;
    padding: 0;
    margin: 0;
    text-decoration: none; 
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}
.btn-theme {
  background-color: #ffffff;
  border-color: #000000;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.logo img:hover {
  opacity:0.5;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
#nymphe {
  background-image: url("/assets/images/nymphe.jpg");
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  -webkit-filter: grayscale(50%);
    filter: gray;
    margin-top: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 30px;
}
#intro {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 30px;
}
#aboutwrap {
    background-image: url("/assets/images/museomix_pleniere.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}
.stretched-bg {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nymphe h1, #aboutwrap h1 {
  color: white; 
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  display: inline-table;
}
.grey {
  background-color: #f9f9f9;
}
.white-bg {
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 20px;
}
svg:not(:root) {
  overflow: visible;
}
#lines {
  position: absolute;
}
/* ################################################################
Sticky 
################################################################### */ 
#sticky {
  background-color: #FFFF00;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* ################################################################
Newsletter
################################################################### */ 
#newsletter {
  background-color: #FFFF00;
  padding-top: 40px; 
  padding-bottom: 40px;
}
/* ################################################################
Project page  
################################################################### */
.project-header {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.project-header h3 {
  color: white; 
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  font-weight: 300;
}
.project-header h1 {
  color: white; 
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-table;
}
.project-header-s {
  position: absolute;
  top: 0px;
}
.project-header-s h1 {
  color: white; 
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.text-proj {
  position: relative;
  top: -10px;
}
.atag {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-top: 8px;
  border-radius: 5px;
}
.back-link {
  position: absolute;
  top: 0px;
  padding: 10px;
  max-width: 50px;
}

.fa-play-circle-o {
  font-size: 10em;
}
.plog img {
  max-height: 22px;
}
.partner img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.partner img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.partners h4 {
  color: grey;
}
.partner {
  padding-left: 25px;
  padding-right: 25px;
}
.team-text {
  padding-top: 5px;
  text-transform: capitalize;
}
.team img {
  width: 100%;
  border-radius: 10px;
}
.events h3 {
  display: inline-block;
}
/* ################################################################
Callouts
################################################################### */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* ################################################################
Footer 
################################################################### */ 
.footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #F4F4F4 !important;
  color: #bfc9d3;
}
.register {
  position: absolute;
  right: 10px;
  top: 10px;
}
.old {
  color: #efefef;
}
.btn .disabled {
  opacity: 0.25 !important; 
}
.carousel-image {
  
}
